body {
  font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.logo {
  width: 225px;
  height: 85px;
}

.container {
  margin-top: 0px;
  margin-bottom: 0xp;
  padding-top: 0px;
  padding-bottom: 0px;
}

.owlGreenText {
  color: #0AB1BC !important;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

/* NAVIGATION BUTTONS */

.navBtn {
  height: 100%;
  background-color: #fafafa;
  color: #00A79D;
  border: none;
  margin: 0px;
  padding: 0px 25px 0px 25px !important;
}

.navBtn:hover {
  color: #fafafa;
  background-color: #7AE0BB;
  outline: 0;
  border: none;
}

.navBtn:focus {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: scale(.99);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.navBtn:active {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: translateY(1px);
}

/* LOG IN AND SIGN UP BUTTON */

.logSign {
  background-color: #00A79D;
  border: none;
}

.logSign:hover {
  color: #fafafa;
  background-color: #7AE0BB;
  outline: 0;
  border: none;
}

.logSign:active {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: translateY(1px);
}

.logSign:focus {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: scale(.99);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.logSign span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logSign span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.logSign:hover span {
  padding-right: 15px;
}

.logSign:hover span:after {
  opacity: 1;
  right: 0;
}

/* LOGOUT BUTTON */

.logOut {
  background-color: #00A79D;
  border: none;
}

.logOut:hover {
  color: #fafafa;
  background-color: #7AE0BB;
  outline: 0;
  border: none;
}

.logOut:active {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: translateY(1px);
}

.logOut:focus {
  color: #fafafa;
  background-color: #088f99;
  outline: 0;
  border: none;
  transform: scale(.99);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.logOut span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.logOut span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -60px;
  transition: 0.5s;
}

.logOut:hover span {
  padding-left: 15px;
}

.logOut:hover span:after {
  opacity: 1;
  right: 0;
}