body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin-top:0px;
  margin-bottom:0xp;
  padding-top:0px;
  padding-bottom:0px;
}

.btn-margin {
  margin: 7px 3px;
}

.btn {
  height:100%;
  background-color:#fafafa;
  color:#0ab1bc;
  border-left:1px solid #E7FBFC;
  border-top:none;
  border-bottom:none;
  border-right:none;
  margin:0px;
  border-radius:0px;
  padding:0px 25px 0px 25px !important;
}

.btn:last-of-type {
  border-right:1px solid #E7FBFC;
}

.owlGreenText {
  color:#0AB1BC !important;
}

.navbar {
  margin-bottom:0px;
}

#navHeader {
  display:flex;
  justify-content: center;
  align-items: center;
  height:70px;
}


