.masonry-container {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.masonry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    margin: auto;
}

#itemContent {
    margin: 0px;
}

#itemText {
    margin: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    flex-grow: 1;
}

.tile img {
    border-radius: 10px;
    width: 100%;
}

#itemCard {
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 0px 0px 5px 0px;
    transition: .2s ease-in-out;
}

#itemCard:hover {
    box-shadow: 4px 0px 12px 10px #d9d9d9;
    transform: scale(1.01);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}