.modal-content {
    height:480px;
    width:320px;
    padding:20px;
    margin-top:calc(100vh / 6);
    background-color:#2C2B2B;
    color:#fff;
}

#container {
    display:flex;
    justify-content:center;
}

/* body {
    background-color:#2C2B2B;
} */

.form-group {
    padding:5px 0px 0px 0px;
}

.form-group:last-of-type {
    margin-bottom:30px;
}

.formLogo {
    text-align:center;
    width:100%;
    margin-top:20px;
}

#formLogoID {
    height:70px;
    width:70px;
    margin-left:auto;
    margin-right:auto;
}

.header {
    text-align:center;
    padding:30px 0px 10px 0px;
}

#signupButton {
    border-radius:4px;
}