.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width:100%;
    overflow-x: auto;
}

.cardContainer img {
    height:300px;
    width: 400px;
}

ul {
    list-style-type: none;
}

.owlGreenText {
    color:#0AB1BC !important;
  }
  