@import "./../../scss/variables";

button {
    img {
        height: 30px;
        width: 30px;
        vertical-align: middle;
        margin-bottom: 5px;
    }
    .pwmode {
        height: 30px;
        width: 30px;
        vertical-align: middle;
        margin-bottom: 5px;
    }
}