.title {
  width: 100%;
  text-align: left;
  font-size: 3rem;
  text-decoration: none;
  margin-bottom: 50px;
}

.owlGreenText {
  color:#0AB1BC !important;
}

.owlGrayText {
  color:#4d4d4d !important;
}
