html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.displayToggle {
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1.9px;
  font-size: 18px;
  text-decoration: one;
  vertical-align: middle;
  line-height: normal;
  margin-top: 0.15em;
}

body.light-mode {
  background-color: #fff;
  color: #00a79d;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;

  .navbar {
    background-color: #1b2938;
  }

  .dark-mode-toggle > button {
    color: #ffffff;
    &:last-child {
      color: lightblue;
    }
  }
}

.content {
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 600px;
  font-size: 20px;
  line-height: 1.3em;

  h1 {
    font-size: 2rem;
  }

  img {
    width: 100%;
  }

  code {
    background-color: #cbe9ff;
    border-radius: 2px;
    font-size: 1em;
    padding: 0 5px;
  }

  a {
    text-decoration: none;
    color: #006688;
  }

  button {
    color: #006688;
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
  }
}

body.dark-mode .content code {
  background-color: #1b2938;
}

body.dark-mode .content a {
  color: #ee09;
}

body.dark-mode .content button {
  color: #ee09;
}

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  padding: 3% 0 3% 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #ffffff;
    }

    &:focus {
      outline: none;
    }
  }
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked + label {
    left: 30px;
  }

  &:focus-visible {
    outline: solid 2px white;
  }

  & + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #7ae0bb;
    opacity: 0.9;
    background-color: #7ae0bb;
  }
}
