.profile-area img {
  max-width: 150px;
  margin-bottom: 20px;
}

.panel-body h3 {
  margin-top: 0;
}

.panel-head {
  background-color:#456763;
}

#profile {
  margin-top:50px;
}

.marginRight10 {
  margin-right:10px;
}